* {
    margin: 0;
    padding: 0;
}




body {
    background-color: #ccc;
    
}

.container {
    width: 1200px;
    margin: 0 auto;


}

.title, .desc, .subtitle {
    text-align: center;
    margin-top: 50px;
    font-family: 'Ruslan Display', cursive;
}

.nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    background-color: rgb(0, 63, 211);
    border-radius: 10px;
    display: block;
    border: 1px solid transparent;
}

.nav-link:hover {
    border: 1px solid rgb(0, 197, 211);
    color: rgb(0, 197, 211);
    background-color: #fff;
}


.item {
    width: 263px;
    border: 1px solid #000;
    border-radius: 10px;
}

.item-pic {
    width: 100%;
    border-radius: 10px;
}

.content {
    margin-top: 100px;
}

.subtitle {
    font-family: 'Ruslan Display', cursive;
    font-size: 30px;
}

.item-box {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.item {
    margin-bottom: 50px;
}


.item-link {
    display: block;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.item-page {
    margin-top: 50px;
}
.item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 100px;
    margin-top: 50px;
}
.item-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
}
.discr {
    display: inline;
    float: left;
    padding-left: 100px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 360px;
    width: 100%;
}
.text-box {
    font-size: 15px;
    line-height: 1.55;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
.pros-list {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
    line-height: 1.55;
}
.item-page-image {
    max-width: 560px;
    float: right;
    margin-right: 120px;
    padding-top: 4px;
    padding-bottom: 15px;
}
#d1 {
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    font-size: 15px;
    line-height: 1.55;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
